:root{
/* main colors */
--softBlue: hsl(231, 69%, 60%);
--softRed: hsl(0, 94%, 66%);
 /* Neutral */
--grayishBlue: hsl(229, 8%, 60%);
--veryDarkBlue: hsl(229, 31%, 21%);
--mainTransition:all 0.2s ease-in;
--mainWhite:#f5f5f5;
--mainSpacing:0.1rem;
--mainBoxshadow: 0px 0px 100px 1px rgba(170, 163, 163, 0.19),0 6px 6px rgba(76, 71, 71, 0.23);
}

@media only screen and (width:425px){
   body{
    overflow-x: hidden;
  }
  .main-container{
    margin-top:5em;
    overflow-x: hidden;
  }
  .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 5em;
    position: fixed;
    top:0;
    background:var(--veryDarkBlue);
    z-index: 3;
    opacity:.9;
  }
  /* styles for burger responsive nav bar button  and responsive nav bar*/
.burger{
    width:40px;
    height:27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.burger div{
    width:30px;
    background: orange;
    height:3px;
    margin:3px auto;
    transition:var(--mainTransition);
}
.navigation{
    position: absolute;
    right:0px;
    left:0px;
    top:5em;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    height:100vh;
    background:var(--veryDarkBlue);
    transform:translateX(100%);
    transition:var(--mainTransition);
    opacity: 0.9;
    margin:auto;
}
.nav-link{
    width:90%;
    display: flex;
    justify-content: center;
    padding:1em;

}
/* this style helps to give a nice looking border color styling to the navlinks */
.seperate-border{
    border-top:1px solid var(--grayishBlue);
    border-bottom:1px solid var(--grayishBlue);
    margin:9px auto;
}
.login-btn{
    padding:1em 1em;
    width:90%;
    background:var(--veryDarkBlue);
    border-radius: 6px;
    border:2px solid whitesmoke;
}
 .social-links-container-nav{
    margin:10px auto;
    display: flex;
    justify-content: space-around;
    width:50%;
  }
  .social-link-nav{
    color:var(--mainWhite);
    font-size:2em;
  }
.navigation .nav-link {
 opacity: 0;
}
/* this style translates the navigation bar back to 0 or back on the display */
.nav-active{
    transform:translateX(0%);
}
/* this style creates an animation to animate the nav links as they come back on the screen when the burger button is clicked */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* this line aids in the animated toggle of the burger toggle button lines */
.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* end of styles for responsive nav bar */
/* styles for hero-and-hero-background-image-section*/
.hero-and-hero-background-image-section{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width:100%;
  /* height:80vh; */
   margin-bottom: 5em;
    overflow-x: hidden;
}
.hero-background-image-container{
  width:100%;
  position:relative;
}
.hero-illustration-desktop-img{
  position: relative;
  z-index: 2;
}
.image-background{
  background:var(--softBlue);
  width:350px;
  height:42vh;
  position: absolute;
  z-index:1;
  border:none;
  bottom: 10px;
  right:0px;
  border-bottom-left-radius: 50px;
}

/* styles for hero container */
.hero-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  width:100%;
  margin-top:20px;
  /* border:1px solid; */
  padding:1em;
}
.hero-heading-container{
  margin-bottom: 10px;
  margin-bottom:10px;
}
.hero-heading{
  color:var(--veryDarkBlue);
  letter-spacing:var(--mainSpacing);
  font-weight: 700;
  font-size:2rem;
  text-align: center;
}
.hero-text-container{
  margin-bottom:10px;
}
.hero-text{
  color:var(--grayishBlue);
  letter-spacing: var(--mainSpacing);
  text-align:center;
  line-height:1.5;
}
.hero-btns-container{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:10px auto;
}
.btn{
  padding:1.2em 1em;
  border:none;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: var(--mainBoxshadow);
  transition:var(--mainTransition);
}
.btn:active{
  box-shadow: 0 0 0 white;
  margin: 1px;
}

.get-it-on-chrome-btn{
  background: var(--softBlue);
  color:var(--mainWhite);
}
.get-it-on-firefox-btn{
  background: var(--mainWhite);
  color:var(--veryDarkBlue);
}
/* end of styles for banner */
/* ====================== */
/* styes for features section  */
.features-section{
  display:flex;
  flex-direction: column;
}
.features-banner-container{
  display: flex;
  flex-direction:column;
  padding:1.3rem;
  justify-content: space-around;
}
.features-banner-heading{
  color:var(--veryDarkBlue);
  letter-spacing:var(--mainSpacing);
  font-weight: 700;
  font-size:2rem;
  text-align: center;
  margin-bottom:10px;
}
.features-banner-text{
  color:var(--grayishBlue);
  letter-spacing:1.3;
  line-height:1.4;
  text-align:center;
}
.features-tab-container{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom:20px;
}
.tab-link{
  margin-bottom:10px;
  border-bottom:1px solid var(--grayishBlue);
  width:90%;
  height: 40px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items:center;
}
.tab{
  height: 100%;
  color:var(--grayishBlue);
/* transition: var(--mainTransition); */
}
.tab:active{
border-bottom:3px solid var(--softRed);
}
.content{
  display: flex;
  flex-direction: column;
}
#illustration-feature-image-container-one{
  position:relative;
  width:100%;
  display: flex;
  margin-bottom:30px;
}
.illustration-img-one{
  margin:auto;
  z-index: 2;
  width:80%;
}
.feature-image-background-one{
  position: absolute;
  bottom:-25px;
  left:0px;
  background:var(--softBlue);
  width: 310px;
  height:40vh;
  z-index:1;
  border:none;
  border-bottom-right-radius: 50px;
}
.feature-heading{
  color:var(--veryDarkBlue);
  text-align:center;
  margin-bottom:10px;
}
.feature-text{
  color:var(--grayishBlue);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
.more-info-btn-container{
  display: none;
}
#illustration-image-and-background-container-two{
  position:relative;
  width:100%;
  display: flex;
  justify-content: center;
}

.illustration-img-two{
  z-index: 2;
  width:80%;
}
.illustration-image-background-two{
    background:var(--softBlue);
    width:310px;
    height:49.3vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom-right-radius: 50px;
  }
  #illustration-image-and-background-container-three{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .illustration-image-three{
    width:80%;
    z-index: 2;

  }
  .feature-image-background-three{
    background:var(--softBlue);
    width:300px;
    height:51vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: -15px;
    left:0px;
    border-bottom-right-radius: 50px;

}
/* end of styles for features section */
/* ================================ */
/* styles for download extension container */
  .download-extension-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
  }
  .download-extension-banner-container{
    padding:20px;
  }
  .download-extension-banner-heading{
  color:var(--veryDarkBlue);
  text-align:center;
  margin-bottom:10px;
  }
  .download-extension-banner-text{
  color:var(--grayishBlue);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  .extensions-container{
    /* display:grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    width:100%;
  }
  .extension{
    width:70%;
    height:350px;
    box-shadow: var(--mainBoxshadow);
    margin-bottom:30px;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
  }
  .extension-image-container{
    display:flex;
    justify-content: center;
  }
  .extension-title{
      color:var(--veryDarkBlue);
      text-align:center;
      margin-bottom:10px;
  }
  .extension-version{
  color:var(--grayishBlue);
  text-align: center;
  line-height: 1.5;
  }
  .add-extension-btn-container{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height:50px;
  }
  .image-of-dots{
    width:100%;
  }
  .add-extension-btn{
    color:var(--mainWhite);
    background: var(--softBlue);
    border:none;
    padding:.5em;
    width:80%;
    border-radius:5px;
    font-weight:500;
    transition:var(--mainTransition);
    box-shadow: var(--mainBoxshadow);
  }
  .add-extension-btn:active{
  box-shadow: 0 0 0 white;
  margin: 1px;
  }
/* end of styles for download extension container */
/* ======================= */
/* styles for FAQ Section */
.faq-banner-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:1em 2.5em;
}
.faq-banner-heading{
  text-align:center;
  color:var(--veryDarkBlue);
  margin-bottom:10px;
}
.faq-banner-text{
  color:var(--grayishBlue);
  text-align:center;
  margin-bottom:10px;
  line-height: 1.5;
}
.faq-questions-container{
  padding:1em 1.5em;
}
.faq-heading-container{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.faq-heading{
  padding:.1em .5em;
  color:var(--veryDarkBlue);
  margin-bottom:10px;
}
.faq-text{
  color:var(--grayishBlue);
  margin-bottom:10px;
  line-height: 1.5;
}

.more-info-btn-container-faq{
  width:100%;
  margin: 50px auto;
  display:flex;
  justify-content: center;
  align-items:center;
}
.more-info-btn-faq{
  background: var(--softBlue);
  border-bottom:4px solid var(--veryDarkBlue);
  padding:.7em 1.9em;
  border-radius:5px;
  color:var(--mainWhite);
  /* font-weight:700; */
  transition:0.5s all linear;
  border:none;
}
.more-info-btn-faq:active{
  box-shadow: 0 0 0 white;
  margin: 1px;
  border:none;
}
/* end of styles for FAQ section */
/* ================================= */
/* styles for footer section */
  .footer-section{
    display: flex;
    flex-direction: column;
  }
  .contact-us-container{
    background:var(--softBlue);
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
  .footer-banner-container{
    margin:10px auto;
  }
  .footer-banner-text{
    text-align:center;
    color:var(--mainWhite);
    margin: 10px auto;
  }
  .footer-banner-header{
    color:var(--mainWhite);
    font-size:1.3em;
    letter-spacing:2px;
    font-weight:500;
    margin:10px auto;
    text-align:center;
    padding:1em;
  }
  .contact-us-form{
    margin:10px auto;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width:100%;
  }
  .email-input{
    margin:10px auto;
    padding:.9em .9em;
    border:none;
    border-radius: 4px;
    background: var(--mainWhite);
    color:var(--veryDarkBlue);
    width:90%;
  }
  .contact-us-btn-container{
    margin:10px auto;
    display: flex;
    justify-content: center;
    width:100%;
  }
  .contact-us-btn{
    padding:.9em .9em;
    background:var(--softRed);
    border:none;
    color:var(--mainWhite);
    width:90%;
    border-radius: 4px;
  }
  .footer-links-container{
    background:var(--veryDarkBlue);
    display: flex;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  .logo-container-footer{
    margin:20px auto;
    width:100%;
    display:flex;
    justify-content:center;
  }
  .logo-img{
    background:var(--mainWhite);
    border-radius: 4px;
  }
  .links-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin:20px auto;
  }
  .footer-link{
    margin:20px auto;
  }
  .footer-link a{
    text-decoration:none;
    color:var(--grayishBlue);
    text-transform:uppercase;
    font-size:1em;
    font-weight:500;
  }
  .social-links-container{
    margin-bottom:10px;
    display: flex;
    justify-content: space-around;
    width:50%;
  }
  .social-link{
    color:var(--mainWhite);
    font-size:2em;
  }
/* end of styles for the footer section */
}
@media only screen and (max-width:400px){
  body{
    overflow-x: hidden;
  }
  .main-container{
    margin-top:5em;
    overflow-x: hidden;
  }
  .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 5em;
    position: fixed;
    top:0;
    background:var(--veryDarkBlue);
    /* position: relative; */
    z-index: 3;
  }
  /* styles for burger responsive nav bar button  and responsive nav bar*/
.burger{
    width:40px;
    height:27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.burger div{
    width:30px;
    background: orange;
    height:3px;
    margin:3px auto;
    transition:var(--mainTransition);
}
.navigation{
    position: absolute;
    right:0px;
    left:0px;
    top:5em;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    height:100vh;
    background:var(--veryDarkBlue);
    transform:translateX(100%);
    transition:var(--mainTransition);
    opacity: 0.9;
    margin:auto;
}
.nav-link{
    width:90%;
    display: flex;
    justify-content: center;
    padding:1em;

}
/* this style helps to give a nice looking border color styling to the navlinks */
.seperate-border{
    border-top:1px solid var(--grayishBlue);
    border-bottom:1px solid var(--grayishBlue);
    margin:9px auto;
}
.login-btn{
    padding:1em 1em;
    width:90%;
    background:var(--veryDarkBlue);
    border-radius: 6px;
    border:2px solid whitesmoke;
}
 .social-links-container-nav{
    margin:10px auto;
    display: flex;
    justify-content: space-around;
    width:50%;
  }
  .social-link-nav{
    color:var(--mainWhite);
    font-size:2em;
  }
.navigation .nav-link {
 opacity: 0;
}
/* this style translates the navigation bar back to 0 or back on the display */
.nav-active{
    transform:translateX(0%);
}
/* this style creates an animation to animate the nav links as they come back on the screen when the burger button is clicked */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* this line aids in the animated toggle of the burger toggle button lines */
.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* end of styles for responsive nav bar */
/* styles for hero-and-hero-background-image-section*/
.hero-and-hero-background-image-section{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width:100%;
  /* height:80vh; */
   margin-bottom: 5em;
    overflow-x: hidden;
}
.hero-background-image-container{
  width:100%;
  position:relative;
}
.hero-illustration-desktop-img{
  position: relative;
  z-index: 2;
}
.image-background{
  background:var(--softBlue);
  width:250px;
  height:30vh;
  position: absolute;
  z-index:1;
  border:none;
  bottom: 10px;
  right:0px;
  border-bottom-left-radius: 50px;
}

/* styles for hero container */
.hero-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  width:100%;
  margin-top:20px;
  /* border:1px solid; */
  padding:1em;
}
.hero-heading-container{
  margin-bottom: 10px;
  margin-bottom:10px;
}
.hero-heading{
  color:var(--veryDarkBlue);
  letter-spacing:var(--mainSpacing);
  font-weight: 700;
  font-size:2rem;
  text-align: center;
}
.hero-text-container{
  margin-bottom:10px;
}
.hero-text{
  color:var(--grayishBlue);
  letter-spacing: var(--mainSpacing);
  text-align:center;
  line-height:1.5;
}
.hero-btns-container{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin:10px auto;
}
.btn{
  padding:1.2em 1em;
  border:none;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: var(--mainBoxshadow);
  transition:var(--mainTransition);
}
.btn:active{
  box-shadow: 0 0 0 white;
  margin: 1px;
}

.get-it-on-chrome-btn{
  background: var(--softBlue);
  color:var(--mainWhite);
}
.get-it-on-firefox-btn{
  background: var(--mainWhite);
  color:var(--veryDarkBlue);
}
/* end of styles for banner */
/* ====================== */
/* styes for features section  */
.features-section{
  display:flex;
  flex-direction: column;
}
.features-banner-container{
  display: flex;
  flex-direction:column;
  padding:1.3rem;
  justify-content: space-around;
  /* border:1px solid; */
  /* margin-bottom:20px; */
  /* border:1px solid; */
}
.features-banner-heading{
  color:var(--veryDarkBlue);
  letter-spacing:var(--mainSpacing);
  font-weight: 700;
  font-size:2rem;
  text-align: center;
  margin-bottom:10px;
}
.features-banner-text{
  color:var(--grayishBlue);
  letter-spacing:1.3;
  line-height:1.4;
  text-align:center;
}
.features-tab-container{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom:20px;
}
.tab-link{
  margin-bottom:10px;
  border-bottom:1px solid var(--grayishBlue);
  width:90%;
  height: 40px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items:center;
}
.tab{
  height: 100%;
  color:var(--grayishBlue);
/* transition: var(--mainTransition); */
}
.tab:active{
border-bottom:3px solid var(--softRed);
}
.content{
  display: flex;
  flex-direction: column;
}
#illustration-feature-image-container-one{
  position:relative;
  width:100%;
  display: flex;
  margin-bottom:30px;
}
.illustration-img-one{
  margin:auto;
  z-index: 2;
  width:80%;
}
.feature-image-background-one{
  position: absolute;
  bottom:-25px;
  left:0px;
  background:var(--softBlue);
  width: 200px;
  height:28.5vh;
  z-index:1;
  border:none;
  border-bottom-right-radius: 50px;
}
.feature-heading{
  color:var(--veryDarkBlue);
  text-align:center;
  margin-bottom:10px;
}
.feature-text{
  color:var(--grayishBlue);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
.more-info-btn-container{
  display: none;
}
#illustration-image-and-background-container-two{
  position:relative;
  width:100%;
  display: flex;
  justify-content: center;
}

.illustration-img-two{
  z-index: 2;
  width:80%;
}
.illustration-image-background-two{
    background:var(--softBlue);
    width:219px;
    height:33.4vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom-right-radius: 50px;
  }
  #illustration-image-and-background-container-three{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .illustration-image-three{
    width:80%;
    z-index: 2;

  }
  .feature-image-background-three{
    background:var(--softBlue);
    width:221px;
    height:35.5vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: -15px;
    left:0px;
    border-bottom-right-radius: 50px;

}
/* end of styles for features section */
/* ================================ */
/* styles for download extension container */
  .download-extension-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
  }
  .download-extension-banner-container{
    padding:20px;
  }
  .download-extension-banner-heading{
  color:var(--veryDarkBlue);
  text-align:center;
  margin-bottom:10px;
  }
  .download-extension-banner-text{
  color:var(--grayishBlue);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  .extensions-container{
    /* display:grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    width:100%;
  }
  .extension{
    width:70%;
    height:350px;
    box-shadow: var(--mainBoxshadow);
    margin-bottom:30px;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
  }
  .extension-image-container{
    display:flex;
    justify-content: center;
  }
  .extension-title{
      color:var(--veryDarkBlue);
      text-align:center;
      margin-bottom:10px;
  }
  .extension-version{
  color:var(--grayishBlue);
  text-align: center;
  line-height: 1.5;
  }
  .add-extension-btn-container{
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height:50px;
  }
  .image-of-dots{
    width:100%;
  }
  .add-extension-btn{
    color:var(--mainWhite);
    background: var(--softBlue);
    border:none;
    padding:.5em;
    width:80%;
    border-radius:5px;
    font-weight:500;
    transition:var(--mainTransition);
    box-shadow: var(--mainBoxshadow);
  }
  .add-extension-btn:active{
  box-shadow: 0 0 0 white;
  margin: 1px;
  }
/* end of styles for download extension container */
/* ======================= */
/* styles for FAQ Section */
.faq-banner-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:1em 2.5em;
}
.faq-banner-heading{
  text-align:center;
  color:var(--veryDarkBlue);
  margin-bottom:10px;
}
.faq-banner-text{
  color:var(--grayishBlue);
  text-align:center;
  margin-bottom:10px;
  line-height: 1.5;
}
.faq-questions-container{
  padding:1em 1.5em;
}
.faq-heading-container{
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.faq-heading{
  padding:.1em .5em;
  color:var(--veryDarkBlue);
  margin-bottom:10px;
}
.faq-text{
  color:var(--grayishBlue);
  margin-bottom:10px;
  line-height: 1.5;
}

.more-info-btn-container-faq{
  width:100%;
  margin: 50px auto;
  display:flex;
  justify-content: center;
  align-items:center;
}
.more-info-btn-faq{
  background: var(--softBlue);
  border-bottom:4px solid var(--veryDarkBlue);
  padding:.7em 1.9em;
  border-radius:5px;
  color:var(--mainWhite);
  /* font-weight:700; */
  transition:0.5s all linear;
  border:none;
}
.more-info-btn-faq:active{
  box-shadow: 0 0 0 white;
  margin: 1px;
  border:none;
}
/* end of styles for FAQ section */
/* ================================= */
/* styles for footer section */
  .footer-section{
    display: flex;
    flex-direction: column;
  }
  .contact-us-container{
    background:var(--softBlue);
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
  .footer-banner-container{
    margin:10px auto;
  }
  .footer-banner-text{
    text-align:center;
    color:var(--mainWhite);
    margin: 10px auto;
  }
  .footer-banner-header{
    color:var(--mainWhite);
    font-size:1.3em;
    letter-spacing:2px;
    font-weight:500;
    margin:10px auto;
    text-align:center;
    padding:1em;
  }
  .contact-us-form{
    margin:10px auto;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width:100%;
  }
  .email-input{
    margin:10px auto;
    padding:.9em .9em;
    border:none;
    border-radius: 4px;
    background: var(--mainWhite);
    color:var(--veryDarkBlue);
    width:90%;
  }
  .contact-us-btn-container{
    margin:10px auto;
    display: flex;
    justify-content: center;
    width:100%;
  }
  .contact-us-btn{
    padding:.9em .9em;
    background:var(--softRed);
    border:none;
    color:var(--mainWhite);
    width:90%;
    border-radius: 4px;
  }
  .footer-links-container{
    background:var(--veryDarkBlue);
    display: flex;
    flex-direction:column;
    align-items:center;
    width:100%;
  }
  .logo-container-footer{
    margin:20px auto;
    width:100%;
    display:flex;
    justify-content:center;
  }
  .logo-img{
    background:var(--mainWhite);
    border-radius: 4px;
  }
  .links-container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin:20px auto;
  }
  .footer-link{
    margin:20px auto;
  }
  .footer-link a{
    text-decoration:none;
    color:var(--grayishBlue);
    text-transform:uppercase;
    font-size:1em;
    font-weight:500;
  }
  .social-links-container{
    margin-bottom:10px;
    display: flex;
    justify-content: space-around;
    width:50%;
  }
  .social-link{
    color:var(--mainWhite);
    font-size:2em;
  }
/* end of styles for the footer section */
/* end of styles for the mobile view for the design */
}

/* the following lines of style code is meant to tweak the image background and hero styles to exact look of design assest*/
@media only screen and (width:375px){
  .image-background{
    background:var(--softBlue);
    width:295px;
    height:40vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: 10px;
    right:0px;
    border-bottom-left-radius: 50px;
  }

  .feature-image-background-one{
    position: absolute;
    bottom:-27px;
    left:0px;
    background:var(--softBlue);
    width: 200px;
    height:33vh;
    z-index:1;
    border:none;
    border-bottom-right-radius: 50px;
  }
  .illustration-img-two{
    width:85%;
}
.illustration-image-background-two{
    background:var(--softBlue);
    width:261px;
    height:42vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: 0px;
    left:0px;
    border-bottom-right-radius: 50px;
}
  .feature-image-background-three{
    background:var(--softBlue);
    width:276px;
    height:41vh;
    z-index:1;
    border:none;
    position: absolute;
    bottom: -15px;
    left:0px;
    border-bottom-right-radius: 50px;

}
  /* .more-info-feature-btn{
    display: none;
  } */
}